@{
    ViewData["Title"] = "AgregarCandidato";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>Agregar candidato</title>
    </head>
    <body>
    <form method=post action='@Url.Action("GuardarCandidato")'>
        <input type="hidden" name="IdPartido" value="@ViewBag.idPartido">
        <input type="text" name="Apellido" placeholder="Apellido" required/>
        <input type="text" name="Nombre" placeholder="Nombre" required/>
        <input type="date" name="FechaNacimiento" placeholder="Fecha de nacimiento" required/>
        <input type="text" name="Foto" placeholder="link de la foto" required/>
        <input type="text" name="Postulacion" placeholder="Postulacion" required/>
        <input type="submit" value="Agregar">
    </form>
    </body>
</html>