@{
    ViewData["Title"] = "AgregarCandidato";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>Agregar candidato</title>
    </head>
    <body>
    <form method=post action='@Url.Action("AgregarCandidato")'>
        <select name="IdPartido">
            <option>YPF</option>
            <option>PSG</option>
            <option>CARP</option>
            <option>PJM</option>
    </form>
    <form method=post action >
        <input type="IdCandidato"/>
        <input type="Apellido"/>
        <input type="Nombre"/>
        <input type="FechaNacimiento"/>
        <input type="Foto"/>
        <input type="Postulacion"/>
    </form>
    </body>
</html>