@{
    ViewData["Title"] = "Creditos";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>Creditos</title>
    </head>
    <body>
        <h3>Esta pagina fue creado por los desarrolladores Julián Lifschitz y Luca Listingart</h3>
        <div class="listado">
            <img src="/img/fundadores.jpeg">
            <div>
                <img src="/img/julian.jpeg">
                <img src="/img/luca.jpeg">
            </div>
        </div>
    </body>
</html>