@{
    ViewData["Title"] = "Creditos";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>Creditos</title>
    </head>
    <body>
        <h3>Este juego fue creado por los desarrolladores Julián Lifschitz y Luca Listingart</h3>
        <img src="/img/fundadores.jpeg">
        <br>
        <div>
            <img src="/img/julian.jpeg">
            <img src="/img/luca.jpeg">
        </div>
    </body>
</html>