@{
    ViewData["Title"] = "Elecciones";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>Elecciones</title>
    </head>
    <body>
        <h3>Esta página tiene como objetivo que puedas obtener toda la información sobre los candidatos de las elecciones presidenciales de 2023</h3>
        <img src="/img/elecc.JPG">
    </body>
</html>