@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>Home</title>
    </head>
    <body>
        @foreach (Partido item in ViewBag.listPartidos)
        {
            <div>
                <a href='@Url.Action("VerDetallePartido(item.idPartido)")'><img src="/img/@item.Logo"></a>
                <h1>@item.Nombre</h1>
            </div>
        }
    </body>
</html>