@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>Home</title>
    </head>
    <body>
        <div class="listado">
            @foreach (Partido item in ViewBag.listPartidos)
            {
                <div class="elem">
                    <a href='@Url.Action("VerDetallePartido", new{id = item.IdPartido})'><img src="@item.Logo"></a>
                    <h1>@item.Nombre</h1>
                </div>
            }
        </div>
    </body>
</html>