@{
    ViewData["Title"] = "VerDetallePartido";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>Detalles de partido</title>
    </head>
    <body>
        <div>
            <img src="/img/@ViewBag.partido.Logo">
            <h1>Nombre: @ViewBag.partido.Nombre</h1>
            <a href="@ViewBag.partido.SitioWeb">Sitio web</a>
            <a href='@Url.Action("AgregarCandidato")'>Haga clic aquí para agregar un candidato 2023</a>
        </div>
    </body>  
</html>