@{
    ViewData["Title"] = "VerDetalleCandidato";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>Detalles de candidato</title>
    </head>
    <body>
        <nav>
            <ul>
                <a href='@Url.Action("Index")'><img margin="5cm" height="50rem" width="110rem" src="img/Titulo.png"></a>
                <li><a href='@Url.Action("Elecciones")'>Elecciones 2023</a></li>
                <li><a href='@Url.Action("Creditos")'>Creditos</a></li>
            </ul>
        </nav>
    </body>
</html>